/* Desktop */

@media (min-width: 1008px) {
    .hide-on-mobile-tablet {
        display: none;
    }
}


/* Tablet */

@media (min-width: 641px) and (max-width: 1007px) {
    .hide-on-tablet {
        display: none;
    }
    .width-height {
        height: 100%;
        margin: 0;
    }
    /* Banner */
    .banner .banner-img {
        height: 62vh;
    }
    .banner-description h1 {
        width: 700px;
    }
    .banner-button {
        bottom: 24%;
    }
    /* Services */
    .services-content {
        margin: 40px 0 40px 0;
    }
    .services-box {
        flex-wrap: wrap;
        padding-top: 0;
    }
    .services-item {
        margin-bottom: 40px;
    }
    /* content */
    .content,
    .content-2 {
        align-items: center;
        justify-content: center;
        margin: 50px auto;
        padding: 0 40px;
    }
    .content-image,
    .content-image-2 {
        height: 100%;
        width: 40%;
        text-align: center;
        margin: 0;
    }
    .content-image img,
    .content-image-2 img {
        height: 100%;
        width: 100%;
    }
    .content-action,
    .content-action-2 {
        width: 400px;
        padding-left: 20px;
    }
    .content-action,
    .content-action h1,
    .content-action p {
        padding-right: 0;
        margin: 0;
    }
    .content-action h1 {
        font-weight: 700;
        font-size: 20px;
    }
    .content-action p {
        font-size: 16px;
        padding: 14px 0;
    }
    .content-input input {
        width: 60%;
    }
    .content-action-2 {
        margin: 0;
        padding: 0;
    }
    .content-action-2 h1 {
        font-size: 20px;
        padding-right: 0;
    }
    .content-info-2 {
        flex-direction: column;
        margin-top: 34px;
    }
    .content-info-item-2 {
        display: flex;
        align-items: center;
    }
    .content-info-item-2 i {
        width: 60px;
        margin: 0;
    }
    .content-info-item-2 p {
        width: 300px;
    }
    .content-info-item-2:nth-child(2) {
        margin-left: 0;
        margin-top: 20px;
    }
    /* Slide */
    .slide-show {
        width: unset;
        padding-left: 0;
        margin: 0 30px 50px 30px;
    }
    .slide-show-item p {
        padding: 0 20px;
    }
    /* Animation */
    .right-to-left {
        left: 50%;
    }
    .zoom {
        right: 29%;
        left: 29%;
    }
}


/* Mobile */

@media (max-width: 640px) {
    .hide-on-mobile {
        display: none;
    }
    .width-height {
        height: 100%;
        margin: 0;
    }
    /* Header */
    .header.mobile {
        height: unset;
    }
    header nav {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    /* Banner */
    .banner-description h1 {
        font-size: 24px;
        width: 340px;
    }
    .banner-description p {
        font-size: 14px;
    }
    .banner-button {
        text-align: center;
        width: 100%;
    }
    /* Services */
    .services-content {
        margin: 40px 20px;
    }
    .services-box {
        flex-wrap: wrap;
        padding-top: 0;
    }
    .services-item {
        margin-bottom: 40px;
        position: relative;
    }
    .services-item::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
        height: 1px;
        background: var(--border-color);
    }
    /* Banner */
    .content,
    .content-2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 50px 0 0 0;
    }
    .content-action,
    .content-image {
        margin: 0;
    }
    .content-action-2 h1,
    .content-action h1 {
        font-size: 20px;
        font-weight: 700;
    }
    .content-action p {
        font-size: 14px;
    }
    .content-action-2 h1,
    .content-action h1,
    .content-action p {
        padding: 0 40px;
        margin: 20px 0 20px 0;
    }
    .content-image,
    .content-image-2,
    .content-image img,
    .content-image-2 img {
        height: 100%;
        width: 80%;
    }
    .content-input input {
        width: 80%;
        margin: 5px 0 20px 0;
    }
    .content-input button {
        width: 80%;
        margin-bottom: 15px;
    }
    .content-action span {
        padding-right: 0;
        padding: 0 30px;
    }
    .content-action-2 {
        margin: 0 40px 0 40px;
    }
    .content-info-2 {
        margin: 40px 0 20px 0;
        flex-wrap: wrap;
    }
    .content-action-2,
    .content-action-2 h1 {
        padding: 0;
    }
    .content-info-item-2,
    .slide-show-item p {
        margin-bottom: 40px;
    }
    .content-info-item-2:nth-child(2) {
        margin-left: 10px;
    }
    /* Slide */
    .slide-show {
        width: unset;
        padding-left: 0;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .slide-show-item span {
        margin: 0 0 10px 0;
    }
    /* Animation */
    .right-to-left {
        left: 50%;
    }
    .zoom {
        left: 0;
    }
}